.main-container {
  max-width: 74rem;
  padding: 0 40px;
}

.main-container input {
  height: 35px;
  width: 25vw;
  color: white;
  background-color: #333;
  border: 0.13rem solid #586080;
  border-radius: 8px;
}
